.slider {
  display: flex;
  gap: 20px;
  scroll-snap-type: x mandatory;
  width:100%;
}
.slider-container {             
  overflow-x:auto;
  overflow-y:hidden;
  display: flex;
  margin-top:30px;
  margin:0 auto;
  padding: 0 20px;
  padding-left:-80px;
  align-items: center;
  scrollbar-width:none;
}
.slider-track {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 24px;
  scroll-snap-type: x mandatory;
  padding-bottom: 10px;
}
/* hide scrollbar */
.slider-track::-webkit-scrollbar {
  display: none;
}
.view{
  width:100%;
    padding:14px;
    margin-bottom:20px;
    border-radius: 0 0 16px 16px;
    cursor:pointer;
    border:none;
    white-space: nowrap;
    
}
.live-auctions-inner{
    max-width:1200px;
    margin:0 auto;
    padding:60px 0;
}
.live-auctions {
  background: transparent;
  color: white;
  justify-content:center;
}

.auction-card {
  margin:0;
  min-width: 300px;
  max-width:300px;
  background: #fff;
  padding-top: 10px;
  border-radius: 16px;
  position: relative;
  padding:0 20px;
  scroll-behavior:smooth;
  scroll-snap-align: start;
  line-height: 1.3;
  flex: 0 0 280px;
  align-items:stretch;
}

.condition{
    font-size: 15px;
    color:#b1a07c;
    margin-top:4px
}
.condition span{
    color:#111;
    font-weight:500;
}

.auction-card img {
  width: 100%;
  height: auto;
}
.curbid{
    color:#252525;
    font-size: 14px;
}
.bid {
  color: #7b4cff;
  font-weight: bold;
  font-size: 16px;
}
.card-top {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.time-live {
position:absolute;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 12px;
  top: 12px;
  right: 12px;
}

.time {
  font-weight: 600;
  color: #111;
  gap:4px;
}

.live-pill {
  background:#EAF4ED;
  color:#07e607;
  font-size: 11px;
  font-weight: 600;
  padding: 3px 8px;
  border-radius: 6px;
  line-height: 1;
}
.live-wrapper{
    display:inline-flex;
    align-items: center;
    gap:6px;
    margin-left: 8px;
}
.live-text {
  font-size: 12px;
  color: #22c55e;
  font-weight: 600;
}

.car-name {
  font-size: 14px;
  font-weight: 462;
  color: #252525;
  font-style: Medium;
}
.auction-card button {
  margin-top: auto;
  padding: 8px;
  border-radius: 8px;
  border: none;
  background: #7b4cff;
  color: #fff;
  cursor: pointer;
}
.car-specs {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 8px;
}
.spec{
  flex:1;
  text-align: center;
  position:relative;
}

.spec:not(:last-child){
    position:relative;
    height:55px;
    right:0;
    content: "";
    border-right:1px solid #e5e7eb;
}

.spec-label {
  font-size: 12px;
  color: #9ca3af;
}

.spec-value {
  font-size: 13px;
  font-weight: 600;
  color: #374151;
}

